@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background-color: #F5F5F5;
}

.main-design {
    margin: auto;
    width: 375px;
    background-color: #EDEDED;
}

/* heading area */

header {
    height: 67px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
}

.oldagram-logo {
    width: 127px;
    margin: 3px 0 0 16.5px;
}

.your-avatar, .avatar {
    width: 34px;
    height: 34px;
    margin: 16.5px;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

/* post */

.post-content {
    height: 545px;
    margin-bottom: 25.5px;
    background-color: #FFFFFF;
}

.post-content:last-of-type {
    padding-bottom: 15px;
}

/* user info */

.user-info {
    width: 348px;
    height: 34px;
    padding: 13.5px;
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0;
    box-shadow: none;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6px;
}

.user-full-name {
    font-weight: bold;
    font-size: 13px;
}

.location-text {
    font-size: 12px;
}

/* post image */

.post-image {
    width: 375px;
    height: 375px;
}

/* post info */

.post-info {
    height: 78px;
    padding: 15.5px 0 15.5px 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 4px;
}

.icons {
    display: flex;
    gap: 12px;
    margin-top: -6px; 
}

.icon-properties {
    width: 23px;
    height: auto;
    cursor: pointer;
}

.icon-properties:active {
    transform: scale(0.9);
}

.like-count {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.liked {
    filter: brightness(0) saturate(100%) invert(34%) sepia(79%) saturate(7483%) hue-rotate(356deg) brightness(98%) contrast(96%);
}

.username-caption {
    font-size: 14px;
}